/*blue rgb(0, 78, 203)*/
/*darkblue rgb(0,31,66)*/
/*lightblue rgb(0,70,109)*/
/*superlightblue rgb(65,113,155)*/
/*purple rgb(103, 58, 183)*/
/*pink rgb(244, 67, 52);*/
/*darkpink rgb(185,0,10)*/
:root{
	--main: #00D79E;
	--main-dark: #1170AF;
	--main-light:#F7E469;
	--red: rgb(240,66,66);
	--grey: #d4d4d4;
	--link: rgb(21, 131, 204);
}
*{
	transition: color .2s ease, background-color .2s ease;
	-webkit-transition: color .2s ease, background-color .2s ease;
	box-sizing: border-box;
	/*disable text selection*/	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
body{
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background: white;
	padding: 1em;

}
h1, h2, h3, h4, h5, h6{
	font-family: 'Quicksand', sans-serif;
}
h1{font-size: 2.7em}
h2{font-size: 1.5em}
h3{font-size: 1.17em}
h4{font-size: 1em}
h5{font-size: .83em}
h6{font-size: .67em}
p{line-height: 1.5em}
nav{
	display: block;
	position: relative;
	padding: 8px;
	min-height: 3em;
	color: black;
	z-index: 200;
}
nav > div{
	display: inline-block;
	padding: 16px 0;
	margin: 8px 0;
	height: 100%;
}
nav div:nth-child(1){
	float: left;
}
nav div:nth-child(2){
	float: right;
}
ul{
	margin: 0; padding: 0;
}
ul.unstyled{
	list-style: none;
}
li{
	padding: 4px 0;
}
a:hover, a:hover *, button:hover, button:hover *{
	cursor: pointer;
}
i.fa{
	letter-spacing: 7px;
}
footer{
	padding: 3em 0 !important;
	min-height: calc(0.4*100vh);
}
/*navigation on top*/
.dropdown{
	position: relative;
	z-index: 201;
}
.dropdown:hover{
	cursor: pointer;
}
.dropdown:hover .hover-arrow{
	opacity: 1;
	margin-left: 0;
	padding: 0 16px;
}
.dropdown .dropdown-content{
	position: absolute;
	display: none;
	width: 300px;
	transform: translateY(-50%);
	margin-left: -1em;
	top: 50%;	
	opacity: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,.08);
	border-radius: 0.6em;
	background: white;
	padding: 16px 0;
}
.dropdown:hover .dropdown-content{
	display: inline;
	opacity: 1;
	margin-left: 0;
	transition: all .4s;
}
.dropdown-content > a{
	display: block;
	padding: 16px !important;
	color: black !important;
}
header{
	padding: 0 1em;
}
header.top-header{
	height: 100%;
	color: black !important;
	min-height: calc(0.4*100vh);
	justify-content: space-between;
}
figure{
	margin: 0;
}
figure figcaption{
	text-align: center;
	font-size: .8em;
	margin: 8px 0;
}
/*interior*/
/* #logo{
	margin: 0;
	padding: 0;
	opacity: 75%;
	transition: 0.8s ease;
	
}
#logo a{
	font-family: 'Comfortaa', cursive;
	font-size: 1.3em;
	font-weight: 400;
}
#logo:hover{
	opacity: 1;
	transition: 0.4s ease;
} */
#photo-profile{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 180px;
	border-radius: 100%;
	border: 8px solid;
	border-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,.04);
}
.highlight{
	background-color: var(--main-light);
	padding: 4px 8px;
}
/*home button src w3school*/
#totop{
	display: block; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 1em; /* Place the button at the bottom of the page */
	right: 1em; /* Place the button 30px from the right */
	z-index: 201; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background: var(--main); /* For browsers that do not support gradients */
	color: white; /* Text color */
	padding: auto; /* Some padding */
	width: 64px; height: 64px;
	border-radius: 50%; /* Rounded corners */
	box-shadow: 0 5px 1em rgba(0,0,0,.2);
	opacity: 100%;
	transition: .4s cubic-bezier(1, 0, 0, 1);
}
#totop::after{
	content: "";
	position: absolute;
	filter: opacity(.12);
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 0; height: 0;
	border-radius: 50%;
	background-color: white !important;
	z-index: 202;
}
#totop:hover::after{
	transition: .4s ease-out;
	width: 64px; height: 64px;
}
#totop:hover span{
	transform: translateY(-4px);
	font-size: 1.1em;
	transition: all ease .4s;
}
/* for contents section*/
.item{
	min-width: 245px;
	min-height: 245px;
	height: 100% !important;
	overflow: hidden;
	/*font-size: 1em;*/
	margin: 1em;
	padding: 1em;
	border-radius: .6em;
	box-shadow: 0 1px 3px rgba(0,0,0,.08);
	background-color: white;
	display: flex;
	flex-direction: column;
	position: relative;
	transition: .4s ease;
}
.item:hover{
	box-shadow: 0 6px 12px rgba(0,0,0,.08);
	transition: .4s ease;
}
.item-list-top{
	/* text-align: right; */
	/* font-style: italic; */
	font-weight: bold;
}
.item-list-bot{
	color: var(--grey);
}
.item a{
	color: var(--link) !important;
}
.item-img{
	padding: 16px !important;
	background-color: white;
	box-shadow: 0 6px 12px rgba(0,0,0,.08);
	margin: 15px;
	perspective: 900px;
	text-align: center;
	border-radius: .6em;
}
.item-img img{
	border-radius: inherit;
}
/* .item-img .windowed{
	transform: rotateY(5deg);
	-webkit-transform: rotateY(5deg);
	width: 90%;
} */
/*flex aligner*/
.v-center{
	align-items: center;
}
.v-left{
	align-items: flex-start;
}
.v-right{
	align-items: flex-end;
}
.h-center{
	justify-content: center;
	text-align: center;
}
.h-left{
	justify-content: flex-start;
	text-align: left;
}
.h-right{
	justify-content: flex-end;
	text-align: right;
}
.strech{
	justify-content: space-between;
}
.grad-1{
background: #54CED9; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(45deg, #54CED9, #F7E469); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(45deg, #54CED9, #F7E469); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(45deg, #54CED9, #F7E469); /* For Firefox 3.6 to 15 */
	background: linear-gradient(45deg, #54CED9, #F7E469); /* Standard syntax */
	color: black;
}
.grad-2{
	background: rgb(250, 250, 250); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-45deg, rgb(240, 240, 240), rgb(250, 250, 250)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-45deg, rgb(240, 240, 240), rgb(250, 250, 250)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-45deg, rgb(240, 240, 240), rgb(250, 250, 250)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-45deg, rgb(240, 240, 240), rgb(250, 250, 250)); /* Standard syntax */
	color: black;
}
.grad-1 a{
	color: black;
}
.grad-2 a{
	color: var(--link);
}
.grad-2 h1, .grad-2 h2, .grad-2 h3{
	color: var(--main-dark) !important;
	font-weight: bold;
}
/*buttons*/
.btn{
	border-color: transparent;
	border-radius: .6em;
	padding: 15px 20px;
	margin: 0 15px 15px 0;
	background-color: rgb(230, 230, 230);
	font-size: 1em;
	font-weight: bolder;
	cursor: pointer;
}
.btn:hover{
	/* background-color: rgb(210, 210, 210); */
	filter: brightness(.8);
}
.btn-metal{
	border-color: white;
	background-color: transparent;
}
.btn-metal:hover{
	background-color: transparent;
	border-color: rgb(255,121,95);
}
/*popup dev*/
div.popup{
	max-height: 100vh;
	max-width: 100vw;
	background-color: rgba(0,0,0,.8);
	display: none;
	position: fixed;
	top: 0; left: 0;
	z-index: 200;
}
.popup #description{
	background-color: rgb(0,0,0);
}
/*scroll bar*/
body::-webkit-scrollbar{
    width: .5em;
}
body::-webkit-scrollbar-track{
    background-color: white;
}
body::-webkit-scrollbar-thumb{
	background-color: var(--grey);
	border-radius: 2em;
 	/* outline: 1px solid slategrey; */
}
/*Profile picture*/
.pp{
	border-radius: 100%;
}
.pp-1{
	width: 32px;
	height: 32px;
}
.pp-2{
	width: 64px;
	height: 64px;
}
.pp-3{
	width: 128px;
	height: 128px;
}
/*responsive - using flex*/
/*desktop*/
*{
	box-sizing: border-box;
}
.container{
	width: 100% !important;
	/* margin: 0 !important; */
	padding: 1em !important;

	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 2em;
	border: 1em solid white;
	box-sizing: border-box;

	position: relative;
}
.container > *{
	width: 80% !important;
}
.row{
	/*give presence*/
	min-height: 1em;
	margin: 0;
	padding: 1em 0 0 0;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	clear: left;
}
.col{
	padding: 16px; 
}
.col *{
	max-width: 100%;
}
.col-1{flex: 1}
.col-2{flex: 2}
.col-3{flex: 3}
.col-4{flex: 4}
.col-5{flex: 5}

/* 2019 */
.tag{
	color: var(--red);
	padding: 4px 8px;
}
.menu{
	padding: 0 1em;
	margin: 0;
	font-weight: 600;
	text-align: center;
}
.menu a{
	text-decoration: none !important;
	color: var(--main-dark);
}
.menu > *{
	display: inline-block;
	width: auto;
	padding: 8px 16px;
	margin: 8px 8px 0 0;
	border-radius: .6em;
}
hr{
	border: 0.5px solid #eeeeee;
	width: calc(100% - 32px);
}
.hover-arrow{
	opacity: 0;
	margin-left: -1em;
	padding: 0 0;
	transition: ease-out .3s;
}
a:hover > .hover-arrow{
	opacity: 1;
	margin-left: 0;
}
a{
	/* font-weight: 400; */
	text-decoration: none;
	color: --link;
}
a:hover{
	text-decoration: underline;
}
i{
	margin-right: 8px;
}
.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.dual-list{
	display: inline;
	
}
.dual-list > *{
	font-size: 0.75em;
	color: #767676;
	padding: 0;
	margin: 0;
}
.dual-list > p:first-child{
	font-weight: 400;
	font-size: 1em;
	color: inherit;
}
/*mobile phones*/
@media only screen and (max-width: 768px) {
	body{
		font-size: 16px;
		padding: 0;
	}
	h1{font-size: 1.4em}
	h2{font-size: 1.3em}
	h3{font-size: 1.2em}
	h4{font-size: 1.1em}
	/* nav{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 200;
	}
	nav > div{
		height: auto;
	} */
	.container{
		padding: 8px 8px 16px 8px !important;
	}
	.container > *{
		width: 100% !important;
	}
	.row{
		flex-direction: column;
	}
	#photo-profile{
		max-width: 100%;
	}
	header .top-header{
		min-height: calc(50vh);
	}
	#photo-profile{
		width: 160px;
	}
	.col{
		padding-top: 0;
	}
	.row{
		padding-top: 0;
	}
	.item-img{
		margin: 0 0 16px 0;
	}
	.top-header{
		text-align: center;
	}
	.top-header h1{
		font-size: 2em;
	}
	.dropdown:hover .dropdown-content{
		display: inline;
		width: 100%;
		position: fixed;
		top: 100%;
		left: 50%;
		transform: translate(-50%,-100%);
		opacity: 1;
		margin-left: 0;
		transition: all .4s;
	}
}